.message {
    /*text-align: right;*/
    /*display: flex;*/
    /*!* flex-direction: row; *!*/
    /*justify-content: flex-end;*/
    direction: rtl;
}

.imageAndText {
    /*position: relative;*/
    display: flex;
    align-items: flex-end;
}

.imageAndText img {
    width: 4.8rem;
    height: 4.8rem;
    border: 2.4rem;
    right: 0;
}

.text {
    /*display: inline-block;*/
    /*width: 52.7rem;*/
    min-height: 6rem;
    background: #0066CC;
    border-radius: 0.7rem;
    margin-right: 1rem;
    padding: 0.7rem 1.3rem 0.8rem 1.3rem;
    /*box-shadow: 0rem 0.5rem 2rem rgba(29, 33, 38, 0.03), 0rem 0.1rem 0.2rem rgba(29, 33, 38, 0.1);*/
}

.text::after {
    content: '';
    position: relative;
    right: -2.3rem;
    bottom: -0.9rem;
    border: 1.1rem solid transparent;
    border-bottom: 1.1rem solid #0066CC;
    z-index: -1;
}

.name {

}

.messageText {

}

.time {

}