.buttonsContainer {
    display: flex;
    gap: 2rem;
}

.responseContainer {
    display: flex;
    gap: 10rem;
    align-items: center;
    padding: 5rem;

}

.imageContainer {
}

.image {
}

.textContainer{
}

.code {
    font-weight: 500;
    font-size: 30px;
    line-height: 36.57px;
}

.text {
    font-weight: 500;
    font-size: 16px;
    line-height: 19.5px;
}
.info {
    font-weight: 500;
    font-size: 16px;
    line-height: 19.5px;
}