.sidebar {
    display: none;
}
/*сайдбар открыт*/
.sidebar.open {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 30%;
    height: 100%;
    background-color: #ffffff;
}
/*затемнение справа от открытого меню*/
.background {
    background: #000000;
    opacity: 0.3;
    position: fixed;
    right: 0;
    top: 0;
    width: 70%;
    height: 100%;
}

/**меню*/
.nav {
}

.nav a {
}

.nav a:hover {
}

/*посещенная ссылка*/
.nav a.active {
    color: yellow;
}
/**кнопка закрыть*/
.close {
    width: 3rem;
    height: 3rem;
}

.close img {
}

/*.active {*/
/*    color: yellow;*/
/*}*/
