.sidebar {
    display: none;
}
/*сайдбар открыт*/
.sidebar.open {
    margin: 2rem 7rem;
    display: flex;
    justify-content: space-between;
}
/*затемнение справа от открытого меню*/
.background {
}

/**меню*/
.nav {
}

.nav a {
}

.nav a:hover {
}

/*посещенная ссылка*/
.nav a.active {
    color: yellow;
}
/**кнопка закрыть*/
.close {
}

.close img {
}

/*.active {*/
/*    color: yellow;*/
/*}*/
