.friendMessage {
    margin: 3rem 0;
}

.friendImageAndText {
    display: flex;
    align-items: flex-end;
    /*justify-content: flex-start;*/
}

.friendImageAndText img {
    width: 4.8rem;
    height: 4.8rem;
    border: 2.4rem;
    /*    right: 0;*/
    /*    order: 1;*/
}

.friendText {
    /* display: inline-block; */
    color: #000000;
    min-height: 6rem;
    max-width: 60%;
    background: #F5F7FB;
    border-radius: 0.7rem;
    margin-left: 1rem;
    padding: 0.7rem 1.3rem 0.9rem 1.3rem;
    display: flex;
    /* align-items: flex-end; */
    flex-direction: column;
    /* order: -1;*/

}

.friendText:after {
        content: '';
        position: relative;
        left: -2.3rem;
        bottom: -0.9rem;
        border: 1.1rem solid transparent;
        border-bottom-color: #F5F7FB;
}

.friendName {
        font-style: normal;
        font-weight: 600;
        font-size: 1.8rem;
        line-height: 2.2rem;
}

.friendMessageText {
        font-style: normal;
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 2rem;
        max-width: 100%;
        white-space: pre-wrap;
        margin-top: 0.3rem;
}

.friendTime {
    /* text-align: right; */
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.2rem;
    padding-left: 1rem;
    margin-top: 0.5rem;
}



