.friendMessage {
    margin: 4.7rem 0;
}

.friendImageAndText {

}

.friendImageAndText img {
    width: 4.8rem;
    height: 4.8rem;
    border: 2.4rem;
}

.friendText {
display: inline-block;
}

.friendText:after {

}

.friendName {

}

.friendMessageText {

}

.friendTime {

}
