.affair {
    display: flex;
    align-items: center;
    width: 185px;

    border: 2px solid var(--color);
    border-radius: 5px;

    margin-bottom: 0.8rem;
}

.name {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 145px;
    height: 37px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.closeButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 37px;

    background-color: transparent;
    border: none;
    border-left: 2px solid var(--color);

    font-weight: 400;
    font-size: 20px;
    cursor: pointer;
}
