.button {
    border-radius: 0.3rem;
    border: none;
    /*min-width: 13.2rem;*/
    height: 3rem;
    color: #FFFFFF;
    padding: 0.5rem 2.4rem;
    font-style: normal;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 2rem;
}

.disabled {
    border-color: #004D99;
    background-color: #004D99;
    /*color: #002E5C;*/
    opacity: 0.5;
}

.secondary {
    color: #0066CC;
    background-color: #fff;
    border: 1px solid #0066CC;
}

.default {
    background-color: #0066CC;
    border-color: #0066CC;
}

.red {
    background-color: #CC1439;
    border-color: #CC1439;
}

.default:hover {
    background-color: #0080FF;
    border-color: #0080FF;
}

.red:hover {
    background-color: #FF1A47;
    border-color: #FF1A47;
}

.secondary:hover {
    background-color: #E5F0FA;
}


.default:active {
    background-color: #0059B3;
}

.secondary:active {
    background-color: #C9E5FF;
}

.red:active {
    background-color: #B31232;
}

.button:disabled {

}
